:root {
  --light-blue:             #04C3FF;
  --light-blue-shadow:      rgba(69, 211, 255, 0.27);
  --sea-green:              #0ABEAD;
  --sea-green-dark:         #0CBFAE;
  --sea-green-shadow:       rgba(11, 190, 173, 0.4);
  --orange:                 #F57F17;
  --dark-orange:            #FF5823;
  --orange-shadow:          rgba(255, 88, 35, 0.25);
  --white:                  #ffffff;
  --black:                  #333333;
  --bg-dark:                #1f2235;
  --bg-card:                #252a40;
  --disabled-btn:           rgba(9,190,173,0.4);
  --error-message:          #e44f4fd1;
  --toast-error:            #e44f4ffa;
  --toast-shadow:           #9c9c9ce3;
  --toast-success:          #0CBFAE;
}
